@{
    ViewBag.Title = "Home";
    ViewBag.ActiveHome = "active";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
@*@model HealthCareApplication.Models.SiteInfo*@


<section id="home" class="divider">
    <div class="fullwidth-carousel" data-nav="true">
        <div class="carousel-item bg-img-cover" data-bg-img="https://img.freepik.com/free-vector/set-doctors-characters_48866-327.jpg?size=626&ext=jpg">
            <div class="display-table">
                <div class="display-table-cell">
                    <div class="container pt-200 pb-200">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="bg-white-transparent text-center pt-20 pb-50 outline-border">
                                    <h1 class="text-white text-uppercase font-54">Lorem ipsum dolor sit amet</h1>
                                    <h5 class="text-white font-weight-400">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid esse, nam cum eum beatae repellendus, perspiciatis repellat odit possimus mollitia</h5>
                                    <a class="btn btn-danger btn-colored btn-theme-colored btn-flat smooth-scroll-to-target mt-15" href="#donate-now">More About Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item bg-img-cover" data-bg-img="https://cdn4.vectorstock.com/i/1000x1000/83/88/panel-of-doctors-or-council-of-physicians-vector-23178388.jpg">
            <div class="display-table">
                <div class="display-table-cell">
                    <div class="container pt-200 pb-200">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="bg-white-transparent text-center pt-20 pb-50 outline-border">
                                    <h1 class="text-white text-uppercase font-54">Lorem ipsum dolor sit amet</h1>
                                    <h5 class="text-white font-weight-400">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid esse, nam cum eum beatae repellendus, perspiciatis repellat odit possimus mollitia</h5>
                                    <a class="btn btn-danger btn-colored btn-theme-colored btn-flat smooth-scroll-to-target mt-15" href="#donate-now">More About Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item bg-img-cover" data-bg-img="https://cdn4.vectorstock.com/i/1000x1000/83/88/panel-of-doctors-or-council-of-physicians-vector-23178388.jpg">
            <div class="display-table">
                <div class="display-table-cell">
                    <div class="container pt-200 pb-200">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="bg-white-transparent text-center pt-20 pb-50 outline-border">
                                    <h1 class="text-white text-uppercase font-54">Lorem ipsum dolor sit amet</h1>
                                    <h5 class="text-white font-weight-400">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid esse, nam cum eum beatae repellendus, perspiciatis repellat odit possimus mollitia</h5>
                                    <a class="btn btn-danger btn-colored btn-theme-colored btn-flat smooth-scroll-to-target mt-15" href="#donate-now">More About Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container pt-0 pb-0">
        <div class="section-content">
            <div class="row equal-height-inner mt-sm-0" data-margin-top="-110px">
                <div class="col-sm-12 col-md-4 pr-0 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay1">
                    <div class="sm-height-auto bg-white">
                        <div class="p-30 ">
                            <h1><i class="fas fas-pills"> &#xf484; </i></h1>
                            <h3 class="text-uppercase text-dark mt-0">Medicine service</h3>
                            <p class="text-dark">Inventore veritatis et quasi architecto beata vitae dicta sunt explic.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 pl-0 pl-sm-15 pr-0 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay2">
                    <div class="sm-height-auto bg-theme-colored">
                        <div class="p-30">
                            <h1><i class="fa fa-user-md text-white "></i></h1>
                            <h3 class="text-uppercase text-white mt-0">Doctor consultancy</h3>
                            <p class="text-white">Inventore veritatis et quasi architecto beata vitae dicta sunt explic.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 pl-0 pr-0 pl-sm-15 0 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay3">
                    <div class="sm-height-auto bg-theme-colored3">
                        <div class="p-30">
                            <h1><i class="fas fa-vial text-white"> </i></h1>
                            <h3 class="text-uppercase text-white mt-0"> Diagnosis</h3>
                            <p class="text-white">Inventore veritatis et quasi architecto beata vitae dicta sunt explic.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-7">
                    <h2 class="font-size-38 mt-0">We are a progressive medical clinic</h2>
                    <p class="lead">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    </p>
                    <a class="btn btn-theme-colored btn-lg btn-circled mt-30">More About Us</a>
                </div>
                <div class="col-md-5">
                    <div class="">
                        <img src="images/abc.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="department" class="bg-silver-light">
    <div class="container pb-40">
        <div class="section-title text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="text-uppercase mt-0 line-height-1">Top Specialities</h1>
                    <div class="title-icon">
                    </div>
                    <p>Chat with a doctor online from top hospital networks</p>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row mtli-row-clearfix">
                <div class="col-md-12">
                    <div class="owl-carousel-4col">

                        @Html.Raw(ViewBag.DepartmentTab)

                    </div>
                </div>
                <div class="col-md-12 text-center mt-30">
                    <a  href="@("/Home/")" class="btn btn-md btn-success">How to consult?</a>
                </div>
            </div>

        </div>
    </div>
</section>





<section id="services" class="bg-silver-light">
    <div class="container pb-40">
        <div class="section-title text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="text-uppercase mt-0 line-height-1">Our Services</h1>
                    <div class="title-icon">
                    </div>
                    <p>Health care is the maintenance or improvement of health via the diagnosis, treatment, and prevention of disease, illness, injury etc.</p>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">

                @Html.Raw(ViewBag.ServicesTab)

                <div class="col-md-12 text-center">
                    <a href="#" class="btn btn-md btn-success">ALL Service</a>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="divider parallax layer-overlay overlay-theme-colored-8">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                <div class="funfact text-center">
                    <i class="pe-7s-smile mt-5 text-white"></i>
                    <h2 data-animation-duration="2000" data-value="1754" class="animate-number text-white font-42 font-weight-500">0</h2>
                    <h4 class="text-white text-uppercase font-weight-600">Happy Patients</h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                <div class="funfact text-center">
                    <i class="pe-7s-rocket mt-5 text-white"></i>
                    <h2 data-animation-duration="2000" data-value="675" class="animate-number text-white font-42 font-weight-500">0</h2>
                    <h4 class="text-white text-uppercase font-weight-600">Services</h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                <div class="funfact text-center">
                    <i class="pe-7s-add-user mt-5 text-white"></i>
                    <h2 data-animation-duration="2000" data-value="248" class="animate-number text-white font-42 font-weight-500">0</h2>
                    <h4 class="text-white text-uppercase font-weight-600">Doctors</h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                <div class="funfact text-center">
                    <i class="pe-7s-global mt-5 text-white"></i>
                    <h2 data-animation-duration="2000" data-value="24" class="animate-number text-white font-42 font-weight-500">0</h2>
                    <h4 class="text-white text-uppercase font-weight-600">Service Points</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="doctors">
    <div class="container">
        <div class="section-title text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class=" mt-0 line-height-1">Our Counsultants</h1>
                    <div class="title-icon">
                    </div>
                    <p>An important way to maintain your personal health is to have a healthy diet. A healthy diet includes of plant and animal-based foods</p>
                </div>
            </div>
        </div>
        <div class="row mtli-row-clearfix">
            <div class="col-md-12">
                <div class="owl-carousel-4col">

                    @Html.Raw(ViewBag.DoctorsTab)

                </div>
            </div>
            <div class="col-md-12 text-center mt-30">
                <a href="@("/Home/Consultants")" class="btn btn-md btn-success">Find more</a>
            </div>
        </div>
    </div>
</section>


<section id="package">
    <div class="container">
        <div class="section-title text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class=" mt-0 line-height-1">Packages</h1>
                    <div class="title-icon">
                    </div>
                    <p>Browse and choose your desired health care to shop packge. And save your penny!</p>
                </div>
            </div>
        </div>
        <div class="row mtli-row-clearfix">
            <div class="col-md-12">
                <div class="owl-carousel-2col">

                    @Html.Raw(ViewBag.Packages)

                </div>
            </div>
            
        </div>
    </div>
</section>

<section id="Blog">
    <div class="container">
        <div class="section-title text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class=" mt-0 line-height-1">Medical Tips</h1>
                    <div class="title-icon">
                    </div>
                    <p>Browse and learn more. REVEAL the unknown of your health!</p>
                </div>
            </div>
        </div>
        <div class="row mtli-row-clearfix">
            <div class="col-md-12">
                <div class="owl-carousel-2col">

                    @Html.Raw(ViewBag.Blog)

                </div>
            </div>
            
        </div>
    </div>
</section>


<section id="Blog">
    <div class="container">
        <div class="section-title text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class=" mt-0 line-height-1">Medicine and healthcare</h1>
                    <div class="title-icon">
                    </div>
                    <p>Browse and buy your medicine today!</p>
                </div>
            </div>
        </div>
        <div class="row mtli-row-clearfix">
            <div class="col-md-12">
                <div class="owl-carousel-4col">

                    @Html.Raw(ViewBag.Medicine)

                </div>
            </div>
            
        </div>
    </div>
</section>


<section class="divider parallax layer-overlay overlay-theme-colored-8">
    <div class="container">
        <div class="call-to-action">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="text-white"><i class="pe-7s-call text-white"></i><a class="text-white" href="#"> (+01) &ndash; 234 567 890</a></h2>
                    <h2 class="text-white">Please free to contact us for emergency case.</h2>
                    <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit rem autem voluptatem obcaecati lienum phaedrum torquatos nec eu, vis detraxit periculis ex.</p>
                    <a href="#" class="btn btn-default btn-theme-colored2 mt-20">Contact With Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="divider bg-secondary">
    <div class="container">
        <div class="section-title text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-uppercase mt-0 line-height-1">What Our Clients Say</h2>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel-3col" data-dots="true">
                        <div class="item">
                            <div class="testimonial style1">
                                <div class="comment bg-theme-colored2">
                                    <p>Lorem ipsum dolor sit ametconse ctetur adipisicing elitvolup tatem error sit qui dolorem facilis.</p>
                                </div>
                                <div class="content mt-20">
                                    <div class="thumb pull-right flip"> <img class="img-circle" alt="" src="https://img.medscape.com/thumbnail_library/dt_140605_serious_male_doctor_hospital_800x600.jpg" width="50" height="50"> </div>
                                    <div class="text-right flip pull-right flip mr-20 mt-10">
                                        <h5 class="author text-theme-colored2">Gavin Smith</h5>
                                        <h6 class="title text-white">Happy Patient</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial style1">
                                <div class="comment bg-theme-colored2">
                                    <p>Lorem ipsum dolor sit ametconse ctetur adipisicing elitvolup tatem error sit qui dolorem facilis.</p>
                                </div>
                                <div class="content mt-20">
                                    <div class="thumb pull-right flip"> <img class="img-circle" alt="" src="https://img.medscape.com/thumbnail_library/dt_140605_serious_male_doctor_hospital_800x600.jpg" width="50" height="50"> </div>
                                    <div class="text-right flip pull-right flip mr-20 mt-10">
                                        <h5 class="author text-theme-colored2">Jonathan Smith</h5>
                                        <h6 class="title text-white">Happy Patient</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial style1">
                                <div class="comment bg-theme-colored2">
                                    <p>Lorem ipsum dolor sit ametconse ctetur adipisicing elitvolup tatem error sit qui dolorem facilis.</p>
                                </div>
                                <div class="content mt-20">
                                    <div class="thumb pull-right flip"> <img class="img-circle" alt="" src="https://img.medscape.com/thumbnail_library/dt_140605_serious_male_doctor_hospital_800x600.jpg" width="50" height="50"> </div>
                                    <div class="text-right flip pull-right flip mr-20 mt-10">
                                        <h5 class="author text-theme-colored2">Mary James</h5>
                                        <h6 class="title text-white">Happy Patient</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial style1">
                                <div class="comment bg-theme-colored2">
                                    <p>Lorem ipsum dolor sit ametconse ctetur adipisicing elitvolup tatem error sit qui dolorem facilis.</p>
                                </div>
                                <div class="content mt-20">
                                    <div class="thumb pull-right flip"> <img class="img-circle" alt="" src="https://img.medscape.com/thumbnail_library/dt_140605_serious_male_doctor_hospital_800x600.jpg" width="50" height="50"> </div>
                                    <div class="text-right flip pull-right flip mr-20 mt-10">
                                        <h5 class="author text-theme-colored2">Lucy brown</h5>
                                        <h6 class="title text-white">Happy Patient</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
