@{
    ViewBag.Title = "Medicine";
    ViewBag.ActiveMedi = "active";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
@model HealthCareApplication.Models.SiteInfo
@{Html.RenderPartial("_MyPartial");}


            <div class="container">
               <div class="row">
                 <div class="col-md-8">
                    <h2 class="text-center mt-5 mb-15">ALL MEDICINE</h2>
                    <div class="row">
                       <div class="col-md-3 mb-30">
                          <div class="card card-doctor">
                             <img src="@Url.Content("~/Content/rkscript/images/abc.jpg")" alt="" />
                             <div class="card-title">
                                <h3 class="py-10">Napa</h3>
                             </div>
                             <div class="card-body">
                              <p class="py-10 font-bold">Company Name: Square LTD.</p>
                              <p class="py-10 text-primary font-bold font-18">$10</p>
                             </div>
                               <a href="#" class="btn btn-primary btn-sm btn-block">ADD</a>
                          </div>
                       </div>
                        <div class="col-md-3 mb-30">
                          <div class="card card-doctor">
                             <img src="@Url.Content("~/Content/rkscript/images/abc.jpg")" alt="" />
                             <div class="card-title">
                                <h3 class="py-10">Napa</h3>
                             </div>
                             <div class="card-body">
                              <p class="py-10 font-bold">Company Name: Square LTD.</p>
                              <p class="py-10 text-primary font-bold font-18">$10</p>
                             </div>
                               <a href="#" class="btn btn-primary btn-sm btn-block">ADD</a>
                          </div>
                       </div>
                        <div class="col-md-3 mb-30">
                          <div class="card card-doctor">
                             <img src="@Url.Content("~/Content/rkscript/images/abc.jpg")" alt="" />
                             <div class="card-title">
                                <h3 class="py-10">Napa</h3>
                             </div>
                             <div class="card-body">
                              <p class="py-10 font-bold">Company Name: Square LTD.</p>
                              <p class="py-10 text-primary font-bold font-18">$10</p>
                             </div>
                               <a href="#" class="btn btn-primary btn-sm btn-block">ADD</a>
                          </div>
                       </div>
                        <div class="col-md-3 mb-30">
                          <div class="card card-doctor">
                             <img src="@Url.Content("~/Content/rkscript/images/abc.jpg")" alt="" />
                             <div class="card-title">
                                <h3 class="py-10">Napa</h3>
                             </div>
                             <div class="card-body">
                              <p class="py-10 font-bold">Company Name: Square LTD.</p>
                              <p class="py-10 text-primary font-bold font-18">$10</p>
                             </div>
                               <a href="#" class="btn btn-primary btn-sm btn-block">ADD</a>
                          </div>
                       </div>
                        <div class="col-md-3 mb-30">
                          <div class="card card-doctor">
                             <img src="@Url.Content("~/Content/rkscript/images/abc.jpg")" alt="" />
                             <div class="card-title">
                                <h3 class="py-10">Napa</h3>
                             </div>
                             <div class="card-body">
                              <p class="py-10 font-bold">Company Name: Square LTD.</p>
                              <p class="py-10 text-primary font-bold font-18">$10</p>
                             </div>
                               <a href="#" class="btn btn-primary btn-sm btn-block">ADD</a>
                          </div>
                       </div>
                       
                    </div>
                 </div>
                 <div class="col-md-4">
                     <h2 class="text-center mb-15 mt-5">Medicine Summury</h2>
                      <div class="lab-cart">
                         <form action="">
                         <div class="form-group">
                             <label class=" col-form-label">Upload Prescription</label>
                            <input type="file" class="form-control-file" >
                             
                           </div>
                      
                           <table class="table table-responsive">
                              <thead>
                                 <td>Medicine Name</td>
                                
                              </thead>
                              <tbody>
                                 <tr>
                                    <td>COVID-19</td>
                                 </tr>
                                 <tr>
                                    <td>COVID-19</td>
                                 </tr>
                              </tbody>
                           </table>
                           <a href="#" class="btn btn-primary "> ADD TO CART</a>
                       </form>
                      </div>
                    </div>
                 </div>
               </div>
           
