@{
    ViewBag.Title = "ServiceCreate";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model HCare.Models.HcServicesEntity


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "InputForm" }))
{
    @Html.HiddenFor(m => m.Id)
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="form-group row">
                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">Service Name <span class="text-danger"> *</span></label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">Service Icon <span class="text-danger"> *</span></label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.Icon, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">Service Description<span class="text-danger"> *</span></label>
                        <div class="col-sm-9">
                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">Service Type</label>
                        <div class="col-sm-9">
                            @Html.DropDownListFor(m => m.Type, (List<SelectListItem>)ViewBag.TypeList, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">SortOrder</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.Sortby, new { @class = "form-control", @type="number" })
                        </div>
                    </div>
                </div>
                <div class="border-top">
                    <div class="card-body float-right">
                        <button type="button" class="btn btn-primary" onclick="SubmitResult()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>    
}

<script type="text/javascript">
    function SubmitResult() {
        var error = "";
        if (!$('#Name').val()) error = "Sorry, Name is empty";
        else if (!$('#Icon').val()) error = "Sorry, Icon is empty";
        else if (!$('#Description').val()) error = "Sorry, Description is empty";
        if (error) {
            toastr.warning(error, 'Warning!');
            return false;
        }

        if (confirm("Are you sure to Submit this?")) {
            $.post('/Settings/ServiceSaveUpdate', $("#InputForm").serialize(), function (data) {
                if (data.Success) {
                    toastr.success(data.Message, 'Success!');
                    $('#Id').val(data.Id);
                    window.open('/Settings/ServiceList', '_self');
                }
                else toastr.error(data.Message, 'Error!');
            });
        }

    }
</script>
